body{
	margin: 50px 0px;
	padding: 0px;
}
label{
	text-align: right;
	width: 75px;
	padding-left: 20px;
}
br{
	clear: left;
}
div{
	border: 20px;
}
h3{
	padding-left: 30px;
}

.btn{
	padding-left: 20px;
}